<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Wynajmij", "Rent", "Home")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Kup", "Buy", "Home")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Sprzedaj", "Sell", "Home")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Mapa", "Map", "Home")</a>
            </li>


        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" >@Html.ActionLink("Strona główna", "Index", "Home")</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Załóż konto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Zaloguj się</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rodeo Sp. z o.o.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
